# nonsensical inputs will produce nonsensical outputs
#
# all paths use '/' as a seperator.
# I'll convert them for use with your OS if needed
#
debug=gov.usgs
#
# optional directives
#
# filesystem path to directory containing output files
pathRoot=html/

# Julian
#filePathFormat=yyyy/DDD
#fileNameSuffixFormat=_yyyyDDD-HHmm

# Gregorian
filePathFormat=yyyy/MM/dd
fileNameSuffixFormat=_yyyyMMdd-HHmm


subnetDelay=5000
delayStart=false

# operate this many minutes in the past. Useful for delaying the creation of images due to high latency data
# in minutes
embargo=0

# Time zone for display text. The VDX plotters don't handle this well. Stuff to fix.
#timeZoneName=US/Alaska
timeZoneName=UTC

# default spectrogram parameters
waveRatio=25
overlap=0.859375
logPower=true
minFreq=2
maxFreq=10
nfft=0
binSize=256
maxPower=120
minPower=40

waveSource=pubavo1
pubavo1.type=wws
pubavo1.host=pubavo1.wr.usgs.gov
pubavo1.port=16022
pubavo1.timeout=15
pubavo1.threads=5

waveSource=pubnmi1
pubnmi1.host=pubnmi1.wr.usgs.gov
pubavo1.port=16022
pubnmi1.threads=1

@include AVO.config

network=CNMI
CNMI.dataSource=pubnmi1
CNMI.subnets=Anatahan

